[MAIN]
fail-under = 10
load-plugins =
    pylint.extensions.docparams,
    pylint.extensions.docstyle,
msg-template = '{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}'
output-format = parseable

[BASIC]
disable =
    C0114, # missing-module-docstring
    R1705, # no-else-return
    R0903, # too-few-public-methods
good-names-rgxs = ^[_a-z][_a-z0-9]?$
no-docstring-rgx=^(?!__[_a-z0-9]+__$)

[docparams]
accept-no-param-doc = false
accept-no-raise-doc = false
accept-no-return-doc = false
accept-no-yields-doc = false
default-docstring-type = google
